.container{
    background-color: #17171700 !important;
    border: 1px solid #fff;
    padding: 1vw;
}
.outer{
    width: 100%;
    max-width: 1400px;
    padding: 0 10vw;
    margin-top: 8vw;
}
.nftContainer{
    margin-top: 2vw;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
}
.listingContainer{
    padding: 1vw;
}